.container {
  height: calc(100vh - 70px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#order-informations {
  font-weight: bold;
  font-size: 14px;
}

.back-to-prod-list {
  height: 30px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33B5E5;
  font-weight: bold;
  color: #FFF;
  border-radius: 5px;
  padding: 3px;
  margin-top: 10px;
  cursor: pointer;
}

.back-link {
  margin-top: 8px;
  text-decoration: none;
  color: #33B5E5;
}