<div class="container">
  <div style="font-weight: bold; color: rgb(21, 255, 0); font-size: 35px;">Success!🎉</div>
  <div style="display: flex; flex-direction: row; margin-top: 3px;">Thank you, <div id="order-informations">{{ orderInfo.fullName }}</div></div>
  <div style="display: flex; flex-direction: row; margin-top: 3px;">Your <div id="order-informations">${{ orderInfo.total }}</div> order id confirmed!</div>
  <div style="display: flex; flex-direction: row; margin-top: 3px;">Please allow 1-3 business day(s) for shopping</div>
  <a class="back-link">If You Have A Problem You Can Contact with Us?
    <a style="cursor: pointer; color: rgb(138, 44, 44);" routerLink="contact-us">Here</a>
  </a>
  <div routerLink="" class="back-to-prod-list">Back To Product List</div>
</div>
