.cart-panel {
  display: flex;
  flex-direction: row;
  margin: 100px 50px 0 50px;
  justify-content: space-around;
  padding: 0 25px;
}

@media (max-width: 780px) {
  .cart-panel {
    display: flex;
    flex-direction: column;
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

img {
  width: 100px;
  border-radius: 10px;
}

.cart-item-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin-left: 80px;
}

.empty-cart-message {
  padding-bottom: 300px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 64px;
}

.form {
  right: 20px;
  margin-bottom: 12px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.input-detail {
  margin-bottom: 5px;
}

.input {
  width: 265px;
  height: 25px;
  margin-bottom: 15px;
}

.submit-input {
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #33B5E5;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}
