<div class="cart-panel">
  <div class="cart-container">
    <div class="empty-cart-message" *ngIf="isEmpty">The Card Is Empty😴😴</div>
    <div class="cart-item" *ngFor="let cart of cartItems">
      <img src="{{cart.url}}" />
      <div class="cart-item-details">
        <div style="margin-bottom: 15px; font-weight: bold; font-size: 18px;"> {{ cart.name }} </div>
        <div style="margin-bottom: 15px; font-size: 16px;"> ${{ cart.price }} </div>
        <div>
          Amount: <input style="margin-bottom: 15px; width: 40px; text-align: center;" value="{{ cart.quantity }}" type="number" />
        </div>
      </div>
    </div>
    Total: ${{ dispalyTotal() }}
  </div>
  <!-- <form class="form">
    <input style="">
  </form> -->
</div>
